<a href="https://colab.research.google.com/github/ab17254/GV918-Week04/blob/main/Week_04_Class_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

In this exercise, we will use economic growth data taken from AER package in R. https://www.rdocumentation.org/packages/AER/versions/1.2-9/topics/GrowthDJ

The purpose of this exercise is to explore the determinant of the **gdpgrowth**.

#### Variables

- **oil**: Is the country an oil-producing country?
- **inter**: Does the country have better quality data?
- **oecd**: Is the country a member of the OECD?
- **gdp60**: Per capita GDP in 1960.
- **gdp85**: Per capita GDP in 1985.
- **gdpgrowth**: Average growth rate of per capita GDP from 1960 to 1985 (in percent).
- **popgrowth**: Average growth rate of working-age population 1960 to 1985 (in percent).
- **invest**: Average ratio of investment (including Government Investment) to GDP from 1960 to 1985 (in percent).
- **school**: Average fraction of working-age population enrolled in secondary school from 1960 to 1985 (in percent).

In [2]:
url = 'https://vincentarelbundock.github.io/Rdatasets/csv/AER/GrowthDJ.csv'

In [4]:
import pandas as pd
import numpy as np

# Read the data

In [12]:
data_df = pd.read_csv(url)

# Data wrangling

#### Check the data dimensionality using `.shape`

In [7]:
data_df.shape

(121, 11)

#### How many rows with missing values?

- check the funcitonality of `.isna()` and `.dropna()`

- `.isna()` - Detect missing values.
- `.dropna()` - Omit axes labels with missing values.

In [13]:
data_df.isna()

     Unnamed: 0    oil  inter   oecd  ...  popgrowth  invest  school  literacy60
0         False  False  False  False  ...      False   False   False       False
1         False  False  False  False  ...      False   False   False       False
2         False  False  False  False  ...      False   False   False       False
3         False  False  False  False  ...      False   False   False        True
4         False  False  False  False  ...      False   False   False       False
..          ...    ...    ...    ...  ...        ...     ...     ...         ...
116       False  False  False  False  ...      False   False   False       False
117       False  False  False  False  ...       True   False   False        True
118       False  False  False  False  ...      False   False   False       False
119       False  False  False  False  ...      False   False   False       False
120       False  False  False  False  ...      False   False   False       False

[121 rows x 11 columns]

#### We in the end drop the rows with missing values...

In [14]:
data_df.dropna()

     Unnamed: 0 oil inter oecd  ...  popgrowth  invest  school  literacy60
0             1  no   yes   no  ...        2.6    24.1     4.5        10.0
1             2  no    no   no  ...        2.1     5.8     1.8         5.0
2             3  no    no   no  ...        2.4    10.8     1.8         5.0
4             5  no    no   no  ...        0.9    12.7     0.4         2.0
5             6  no    no   no  ...        1.7     5.1     0.4        14.0
..          ...  ..   ...  ...  ...        ...     ...     ...         ...
115         116  no   yes   no  ...        3.8    11.4     7.0        63.0
116         117  no   yes  yes  ...        2.0    31.5     9.8       100.0
118         119  no   yes   no  ...        1.9    13.9     4.1        39.0
119         120  no   yes  yes  ...        1.7    22.5    11.9        99.0
120         121  no    no   no  ...        2.1    16.2     1.5        29.0

[100 rows x 11 columns]

# Data Subsetting

Try craeting following datasets

- OECD countries
- Countries with a literacy rate better than average

In [24]:
oecd = data_df[data_df.oecd == 'yes']
mean_literacy = data_df['literacy60'].mean()
literate_countries = data_df[data_df.literacy60 > mean_literacy]

# Data Exploration

#### Calculate the mean and standard deviation of the `gdpgrowth`

#### Run `.describe()` to see the data description

#### Calculate the group averages

- For each categorical variables (`oil`, `inter`, `oecd`), calcurate the mean of `gdpgrowth`

#### Calculate the correlation between `gdpgrowth` and possible explanatory variables